@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poiret+One&display=swap");

* {
	box-sizing: border-box;
	font-family: "Poiret One", sans-serif;
}

header,
main,
footer {
	width: 768px;
	margin: 15px auto;
}

header,
footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-family: "Pacifico", cursive;
	font-size: 38px;
	background: #121fcf;
	background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
	-webkit-background-clip:
		text;
	-webkit-text-fill-color:
		transparent;
}

header img {
	height: 70px;
}

ul {
	display: flex;
	justify-content: center;
	gap: 8px;
	width: 400px;
	padding: 0;
	margin: auto;
	flex-wrap: wrap;
	list-style: none;
}

ul li a {
	text-decoration: none;
	width: 80px;
	display: block;
	padding: 12px 15px;
	border-radius: 10px;
	text-align: center;
	color: #222;
	box-shadow: 0 0 2px 0 #4b93e6;
	transition: 0.4s;
}

ul li a:hover {
	box-shadow: 0 0 2px 1px #4b93e6;
	background-color: #4b93e6;
	color: #fff;
}

.photo img {
	display: block;
	margin: 30px auto;
	width: 400px;
	border-radius: 10px;
	box-shadow: 0 0 1px 12px rgba(75, 147, 230, 0.1);
}

.photo__p {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}

footer p {
	font-size: 12px;
}

/* Фильтры тут */
.filter1 {
	filter: contrast(85%) brightness(110%) saturate(75%) sepia(22%);
}

.filter2 {
	filter: sepia(75%);
}

.filter3 {
	filter: hue-rotate(90deg) saturate(200%) contrast(80%) brightness(130%) ;
	box-shadow:
  3.1px 5.1px 2.2px -40px rgba(0, 0, 0, 0.248),
  7.4px 12.4px 5.3px -40px rgba(0, 0, 0, 0.339),
  14px 23.3px 10px -40px rgba(0, 0, 0, 0.401),
  25px 41.5px 17.9px -40px rgba(0, 0, 0, 0.458),
  46.8px 77.7px 33.4px -40px rgba(0, 0, 0, 0.531),
  112px 186px 80px -40px rgba(0, 0, 0, 0.72)
;
}

.filter4 {
	filter: invert(500%) contrast(200%) saturate(150%) brightness(100%)  ;
}

.filter5 {
	filter: blur(0.1px) opacity(105%) invert(500%) contrast(200%) saturate(150%) brightness(80%) hue-rotate(90deg) ;
}

.filter6 {
	filter: grayscale(100%) brightness(200%) invert(500%);
}
.filter7 {
	filter: grayscale(100%) brightness(200%) hue-rotate(90deg) ;
}
.filter8 {
	filter: grayscale(20%) brightness(200%) invert(500%) opacity(105%) contrast(200%) saturate(150%) hue-rotate(90deg) ;
}